@use "../../abstract/variaveis";

#calculadora .campos {
  h4 {
    font-family: variaveis.$ft-principal;
    font-size: 1rem;
    color: #000;
  }

  td {
    height: 28px;
    width: 25px;
  }

  table:not(.graduacoes) tr td:first-of-type {
    background: #494949 !important;
  }

  table.graduacoes tr td:first-of-type {
    background: #000;
  }

  table.white-bg tr td:first-of-type {
    background: #fff !important;
  }

  table {
    +input {
      position: relative;
      top: -43px;

      &::-webkit-slider-thumb {
        background: transparent;
        box-shadow: none !important;
        border: none;
      }

      &::-webkit-slider-runnable-track {
        background: transparent;
      }
    }
  }

  .titulo {
    font-family: variaveis.$ft-principal;
  }

  .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: variaveis.$ft-principal;
    background: variaveis.$cor-principal;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: -10px;
  }

  .subtotal p {
    margin-bottom: 0;
    line-height: 2;
  }

  .total {
    font-family: variaveis.$ft-principal;
    background: variaveis.$cor-secundaria;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  .total-graduacoes {
    @extend .total;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;

    .limpar {
      margin-bottom: 20px;
    }
  }
}